/* Base do meu css (inclusive minha logo)*/

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--color-copy);
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-studion {
  font-weight: 900;
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: right;
  line-height: 0.6ch;
}

.logo-studion__subtitle {
  font-size: 0.875rem;
  font-weight: 300;
}

.logo-studion a {
  text-decoration: none;
  color: #fff;
}
