/*Estilzação da navbar*/

.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;

  height: 7.75rem;
  padding: 0 1rem;
  width: 100vw;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  margin-right: 3rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar__links a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.navbar__links a.active {
  color: var(--color-primary);
}

.navbar__links a:hover {
  color: var(--color-primary);
}
