@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

*{
    box-sizing: border-box;
}


:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --color-primary: #ffc500;
}

body{
    margin: 0;
}

ul{
    display: flex;
    list-style: none;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    
    width: 100vw;
    padding:0 1rem ;
    
    background-color: #000;
    color: #fff;
}

.navbar__links{
    justify-self: end;
}

.navbar__links li {
        margin-right: 3rem;
        font-size: 0.875rem;
        text-transform: uppercase;
}

.navbar__links a{
    text-decoration: none;
    color:#fff;
    font-weight: 300;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-weight: 900;
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 0.8ch;
}

.logo-studion__subtitle {
    font-size: 0.875rem;
    font-weight: 300;
}

.copy-primary {
    color: var(--color-primary);
}


