@import url ('https://fonts.googleapis.com/css2? family = Montserrat + Alternativos: wght @ 400; 500; 700; 900 & family = Roboto & display = swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


*{
    box-sizing: border-box;
}


:root{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --color-copy: #333; 
    --color-primary: #ffc500;
    --default-padding: 1rem;
    color: var(--color-copy)
}

body{
    margin: 0;
    padding-top: 7.75rem; 
}

header,
main,
footer {
    overflow-x: hidden;
}

.container {
    max-width: 1140px;
    margin:0 auto;
}

ul{
    display: flex;
    list-style: none;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width:100%;
    background-color: #000;
    color: #fff;
}

.navbar__container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    
   
    height: 7.75rem;
    padding:0 1rem ;
    width: 100vw;
}

.navbar__links{
    justify-self: end;
}

.navbar__links li {
        margin-right: 3rem;
        font-size: 0.875rem;
        text-transform: uppercase;
}

.navbar__links a{
    text-decoration: none;
    color:#fff;
    font-weight: 300;
}

.navbar__links a:hover {
    color: var(--color-primary);
}

.logo-studion {
    font-weight: 900;
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 0.6ch;
}

.logo-studion__subtitle {
    font-size: 0.875rem;
    font-weight: 300;
}

.copy--primary {
    color: var(--color-primary);
}

#slider {
    background-color: #000000;
    color: #ffffff;
}

.slide {
    position: relative;
    height: calc(95vh - 7.75rem);
}

.slide__background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
    position: absolute;
    top: 0;
    left: 50vw;
}

.slide__copy h6 {
    font-size: .975rem;
    font-weight: 400;
    letter-spacing: .1875rem;
    text-transform: uppercase;
}

.slide__copy h2 {
    font-size: 6.25rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.slide__copy h2 span {
    display:block;
}

.btn {
    cursor: pointer;
    padding:1rem 2.5rem;
    font-size: 0.975rem;
    font-weight: 700;    
    border:.125rem solid #fff;
    border-radius: 1.625rem;   
    color: var(--color-primary);
    background: unset; 
    text-transform: uppercase;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional {
    box-shadow: 1px 5px 5px;
    border-color: var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
} 

#counter {
    background-color: var(--color-primary);
    color: #fff;
}

.counter__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
    place-items: center;
    padding: 4.375rem 1rem;
}

.counter__container h3 {
    font-size: 2.1875rem;
    margin-right:4rem;
}

.counter__container h3 small {
    display: block;
    font-size: 1.25rem
}

.institutional {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}

.institutional__image {
    width: ;
}

.institutional__copy {
    padding: 0 1.875rem;    
}

.institutional__copy h6 {
    font-size: 0.875;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 0;
}

.institutional__copy h4 {
    font-size: 1.5625rem;
    margin-top:1rem;
}

.institutional p {
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 1.5rem;
}

.btn--institutional:hover {
    color: var(--color-copy);
    background: unset;
}

.quote {
    background-image:url(./images/parallax.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.quote__container {
    display: grid;
    align-items: center;
    justify-items: end;
    min-height: 80vh;
}

.quote__copy {
    background-color: #fff;
    padding: 4rem 3rem;
}

.quote__copy h6 {
    font-size: .9375rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    line-height: 1.4375rem;
    max-width:65ch ;
    text-transform: uppercase;
    margin:0;
}

.quote__copy h2 {
   font-size: 5rem;
   line-height: 5rem;
   text-transform: uppercase;
   letter-spacing: -0.1875rem;
   margin: 2rem 0;
}

.quote__copy h2 span {
    display: block;
}

.btn--quote {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset ;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}


.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    border-bottom: 0.1rem solid #fff5;
    padding: 5rem 0;
}

.footer .logo-studion {
    justify-self: start;
    margin:0;
}

.footer .logo-studion__subtitle {
    display: block;
    line-height: 4.5ch;
}

.footer__form {
    display:grid;
    place-items: center;
    grid-template-columns: 10ch auto;
    gap: 1.25rem;
}

.footer__form label {
    font-size: .875rem;
    font-weight: 300;
    line-height: 1rem;
}

.footer__form__email {
    display: grid;
    grid-template-columns: auto 3.375rem;
    width: 100%;
}

.footer__form input {
    
    width: 100%;
    background-color: var(--color-primary);
    padding: 1rem;
    font-size: 0.875rem;
    font-weight:700;
    text-transform: uppercase;
}

.footer__form input::placeholder {
    color:#000;
}

.footer__form input:focus {
    outline: unset;
}

.footer__form button {
    cursor:pointer;
    border:none;
    height: 100%;
    transition: 1s all ease;
}

.footer__form button:hover {
    color: #fff;
    background-color: var(--color-copy);
}

.footer__social {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
    justify-self: end;;
}

.footer__social a,
.footer__social a:visited,
.footer__social a:active{
    color: #fff; 
    margin-left: 0.2rem;
}

.footer__social a .fa-twitter {
    color: #000; 
}

.footer p {
    margin: 2.5rem 0;F
}

